body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  /* background-image: url('/assets/img/bg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:#fff;
}

a:hover{
  text-decoration: none;
  color:#000;
}

.wrapper {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
}
/* side par component style */
.col-custom {
  /* padding-left: 0; */
  /* height: 100% */
}

.sideNav {
  height: 100%; 
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  padding-top: 0px !important;
  display: block;
  overflow-x: hidden;
  overflow-wrap: none;
  padding-top: 60px;
  transition: 0.5s; 
  background-image: linear-gradient(
    rgba(139, 168, 106, 0.45), 
    rgba(138, 9, 9, 0.45)
      ),
      url('/assets/img/side.jpg');
  background-size: cover;
  background-position: center center;
}

.logo{
  padding: 15px 0px;
  margin: 0;
  display: block;
  position: relative;
  border-bottom: 2px solid #fff;  
}

.logo_img {
  /* display:block; */
  position: absolute;
  padding-left: 5px;
}

.sideNav .logo_img img {
  width: 50px;
    margin-left: -3px;
    display: block;
    margin-top: 2px;
}

#menu {
  /* position: relative; */
    /* height: calc(100vh - 75px); */
    /* overflow: auto; */
    /* width: 260px; */
    /* z-index: 4; */
    /* padding-bottom: 30px; */
}

#logo_title > h1 {
  cursor: pointer;
  margin-top: 7px;
  text-transform: uppercase;
    padding-left:8px;
    display: block;
    /* margin: 10px; */
    font-size: 18px;
    color: rgb(248, 251, 255);
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
    /* overflow: hidden; */
}

.list-group-costum {
  padding: 5px;
  width: 100%;
  position: relative;
    display: block;
}
.list-group-costum:hover{
  text-align: center;
  transform: 0.5s;
  transition: 0.5s; 
}


.sideNav ul > li {
  margin: 10px 15px 0;
  padding-left: 10px; 
  padding-right: 10px;
  padding: 15px;
  text-transform: uppercase;
}

.active {
  width: 100%;
  height: 100%;
  /* color: blue;  */
}
.active:hover {
  text-align: center;
  transform: 0.5;
  transition: 0.5s; 
}
.active:focus {
  color: #fff;
  text-align:center;
}
.sideNav p {
  display: inline-block;
  padding: 5px;
}

.sideNav li:hover {
  border-radius: 3px;
  background-color: rgba(0,0,0, 0.5);
  overflow: hidden;
  width: 90%;
  cursor: pointer;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
}

.sideNav a:hover {
  text-decoration: none;
  color: rgb(138, 43, 226);
  /* background-color: rgb(78, 23, 109); */
}

.sideNav p:hover {
  color: red
}


/* test */
.panel {
  /* */
  /* text-align: center; */
   background: rgba(203, 203, 210, 0.15);
  /* border: 2px solid red; */
  /* width: 100%; */
  display: flex;
  /* height: 100%; */
  padding: 30px 15px;
  /* min-height: calc(100% - 12px); */
  position: relative;
  top: 20px;
  float: left;
  /* width: calc(100% - 25px); */
  flex-wrap: wrap;
  }

.content {
  text-align: center;
  display: block;
  margin: 12px;  
  /* color: #000; */
  background-color: #000;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
}

.content:hover {
  transform: 0.5;
  transition: 0.5s;
  padding: 5px;
  /* color: #fff; */
  width: calc(100% - 2px);
  box-shadow: 5px 4px 30px 0px rgba(0, 0, 0, 0.24), 0 7px 15px -7px rgba(58, 68, 82, 0.4);
  cursor: pointer;
}

.content img {
  max-height: 150px;
}

.content .card_text {
  color: #fff;
}


/* manage panel  */
.manage_box {
  text-align: center;
  width: 300px;
  height: 200px;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 2px solid rgb(252, 116, 6);
  border-radius: 10px;
  /* background-color: rgb(252, 116, 6); */

}
/* in process */
@media screen and (max-width: 400px) {
  .sideNav{
    display: none;
  }
  
}

